{% extends 'layout.html.twig' %}

{% block content %}
	<div
		class="uk-position-center">
		<div
			class='uk-card uk-card-default uk-card-body'>
			{% if message is not empty %}
				<div
					class="uk-alert uk-alert-{{alert}}">
					{{message}}
				</div>
			{% endif %}
			{% if user is defined %}
				Salut YAVUZ
			{% else %}
				<form
					method="POST">

					<div
						class="uk-margin">
						<div
							class="uk-inline">
							<span
								class="uk-form-icon"
								uk-icon="icon: user"></span>
							<input
								name='username'
								class="uk-input"
								type="text"
								aria-label="Not clickable icon">
						</div>
					</div>

					<div
						class="uk-margin">
						<div
							class="uk-inline">
							<span
								class="uk-form-icon uk-form-icon-flip"
								uk-icon="icon: lock"></span>
							<input
								name='password'
								class="uk-input"
								type="password"
								aria-label="Not clickable icon">
						</div>
					</div>
					<div
						class="uk-margin">
						<button
							class="uk-button uk-button-default yk-button-login">
							Login
						</button>
					</div>
				</form>

			{% endif %}
		</div>
	</div>

{% endblock %}
